<div class="room-card-component"
     ng-class="[
        $ctrl.color,
        { 'clickable': $ctrl.clickable }
     ]"
     ng-click="$ctrl.onClick( $event )">
    <span class="room-name"><{ $ctrl.room.name }></span>
</div>
