<!DOCTYPE html>
<html lang="en" ng-app="InternalApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>dsko</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:400,700" rel="stylesheet">

    <!-- Vendors -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- App -->
    <link rel="stylesheet" href="/app/css/globals.css" />
    <link rel="stylesheet" href="/app/css/internal.css" />
    <link rel="stylesheet" href="/app/css/internal/rooms.css" />
    <link rel="stylesheet" href="/app/css/internal/room.css" />
</head>
<body ng-controller="InternalController as InternalController" ng-init="InternalController.init({ user: {{toJSONString user}} })" ng-cloak>
    <div class="loading-overlay" ng-if="::false"></div>

    <div class="app" ng-cloak>
        <div class="app-container container clearfix">
            {{{body}}}
        </div>
    </div>

    <!-- Vendors -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular-messages.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular-touch.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- App -->
    <script type="text/javascript" src="/app/js/app.shared.js"></script>
    <script type="text/javascript" src="/app/js/app.internal.js"></script>
</body>
</html>
