<header class="header clearfix" ng-controller="HeaderController as HeaderController">
    <a href="/"><span class="brand brand-medium brand-white"><{ HeaderController.consts.appname }></span></a>
    <a class="link link-white link-bold" href="/login">Login</a>
</header>

<div class="register-view clearfix"
     ng-controller="RegisterController as RegisterController"
     ng-cloak
     ng-init="RegisterController.init()">
    <form class="registerForm" action="/register" method="post">
        <span class="h1 white form-header">Become a <{ RegisterController.consts.appname }> member</span>
        <div class="form-group form-group-light form-group-animated">
            <input
                type="text"
                class="form-control"
                name="username"
                required="true" />
            <span class="bar"></span>
            <label>Username</label>
        </div>
        <div class="form-group form-group-light form-group-animated">
            <input
                type="password"
                class="form-control"
                name="password"
                required="true" />
            <span class="bar"></span>
            <label>Password</label>
        </div>
        <div class="form-group form-group-light form-group-animated">
            <input
                type="password"
                class="form-control"
                name="passwordAgain"
                required="true" />
            <span class="bar"></span>
            <label>Password Again</label>
        </div>
        <button class="btn btn-pill btn-white btn-form" type="submit">Join Now</button>
    </form>
</div>
