<header class="header clearfix" ng-controller="HeaderController as HeaderController" ng-init="HeaderController.init()">
    <a ng-href="//<{HeaderController.host}>"><span class="brand brand-medium brand-gradient"><{ HeaderController.consts.appname }></span></a>
    <span class="user">Hi, <{ InternalController.user.username }> <a class="link link-blue" href="/logout">sign out?</a></span>
</header>

<div class="rooms-view clearfix"
     ng-controller="RoomController as RoomController"
     ng-cloak
     ng-init="RoomController.init({ config: {{toJSONString config.app}}, room: {{toJSONString room}} })">
     <h1><{ RoomController.room.name }></h1>
     <h3 style="text-align: center;">GASP! This hasn't been built yet! :(</h3>
</div>
