<header class="header clearfix" ng-controller="HeaderController as HeaderController">
    <a href="/"><span class="brand brand-medium brand-gradient"><{ HeaderController.consts.appname }></span></a>
    <span class="user">Hi, <{ InternalController.user.username }> <a class="link link-blue" href="/logout">sign out?</a></span>
</header>

<div class="rooms-view clearfix"
     ng-controller="RoomListController as RoomListController"
     ng-cloak
     ng-init="RoomListController.init({ config: {{toJSONString config.app}}, rooms: {{rooms}} })">

    <div class="view-details">
        <h1>Music Halls</h1>
        <h2>Join a Music Hall to listen to the team’s playlist!</h2>
        <h5>Can’t find what you’re looking for?</h5>
        <a href
            class="btn btn-pill btn-pink"
            ng-click="RoomListController.modal.open()">
            Create a music hall
        </a>
    </div>

    <div class="rooms-list clearfix">
        <room-card
             ng-repeat="(i, room) in RoomListController.rooms track by $index"
             room="room"
             clickable>
        </room-card>
    </div>

    <div class="modal-container" ng-show="RoomListController.modal.show === true">
        <div class="modal-close" ng-click="RoomListController.modal.cancel()"></div>
        <h3 class="modal-header">Create a Music Hall</h3>

        <div class="modal-body">
            <form name="RoomListController.createRoomForm" novalidate>
                <div class="form-group" ng-class="{'has-error': RoomListController.createRoomForm.name.$error.required && RoomListController.createRoomForm.name.$dirty}">
                    <input
                        type="text"
                        class="form-control form-conrol-dark"
                        ng-model="RoomListController.createRoomFormData.name"
                        name="name"
                        ng-keyup="RoomListController.onNameKeyup( $event )"
                        placeholder="Name"
                        required="true" />
                        <span class="help-block" ng-messages="RoomListController.createRoomForm.name.$error" ng-show="RoomListController.createRoomForm.name.$dirty" role="alert">
                            <span ng-message="required">Required</span>
                        </span>
                </div>
                <div class="form-group url-group">
                    <input
                        type="text"
                        class="form-control form-conrol-dark"
                        ng-model="RoomListController.createRoomFormData.slug"
                        name="slug"
                        placeholder="Url"
                        required="true" />
                    <span class="host">.<{ RoomListController.host }></span>
                    <span class="help-block" ng-messages="RoomListController.createRoomForm.slug.$error.length" ng-show="RoomListController.createRoomForm.slug.$dirty" role="alert">
                        <span ng-message="required">Required</span>
                    </span>
                </div>
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control form-conrol-dark"
                        ng-model="RoomListController.createRoomFormData.slackChannel"
                        name="slackChannel"
                        placeholder="Slack room (optional)" />
                </div>
            </form>
        </div>

        <div class="modal-ctas">
            <button class="btn btn-pill btn-pink btn-form" ng-click="RoomListController.modal.submit()">Create</button><br />
            <a href class="link link-bold link-blue" ng-click="RoomListController.modal.cancel()">Cancel</a>
        </div>
    </div>
</div>
