.rooms-view {
    margin: 100px 0;
}
    .rooms-view .view-details {
        margin: 60px 0;
        text-align: center;
    }
    .rooms-view .view-details h5 {
        margin: 40px 0 20px;
    }
    .room-card-component {
        width: 23%;
        margin: 1%;
        float: left;
    }
    .rooms-view .modal-container .form-group.url-group {
        position: relative;
    }
    .rooms-view .modal-container .host {
        position: absolute;
        top: 13px;
        right: 0;
        color: #777;
        font-weight: 300; 
    }
    .rooms-view .modal-container .btn.btn-pill {
        margin-bottom: 20px;
    }
    .rooms-view .modal-container form {
        display: block;
        position: relative;
        width: 40%;
        margin: 30px 30%;
    }
